/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --content-title-color: #FF0070;
  --title-decor: #000028;
  --text-color: #F1B2CE;
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --bt-color: #FF0070;
  --rec: flex;
}