/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  position: relative;
  align-items: center;
}

.header__theme-menu {
  justify-self: end;
}

.header__decor {
  justify-self: end;
}

.decor {
  position: absolute;
  text-transform: uppercase;
  top: 13px;
  right: 19px;
  color: var(--bt-color);
  display: var(--rec);
  align-items: center;
  gap: 11px;
  font-family: var(--font);
  font-size: var(--text-size);
  line-height: 18px;
}

.decor::after {
  display: block;
  content: " ";
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--bt-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #ff0070;
}

.decorated-zone::after {
  position: absolute;
  content: " ";
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: solid 1px var(--bt-color);
  border-block-start: solid 1px var(--bt-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  position: absolute;
  content: " ";
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: solid 1px var(--bt-color);
  border-block-end: solid 1px var(--bt-color);
  bottom: 10px;
  left: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--font);
  color: var(--bt-color);
  text-transform: lowercase;
  font-size: var(--text-size);
  inline-size: 70px;
  block-size: 26px;
  background-color: transparent;
  border: none;
  line-height: 100%;
  padding-block-end: 5px;
}

.header__theme-menu-button:hover {
  border: solid 1px var(--accent-color-hover);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: solid 1px var(--bt-color);
}

.header__theme-menu-button_active {
  border: solid 1px var(--bt-color);
  pointer-events: none;
}

.title {
  color: var(--title-color);
  font-size: var(--title-size);
  font-family: var(--font);
  line-height: 82.5%;
}

.title__header {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.content {
  margin-block: 39px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__section {
  padding-inline-end: 10px;
  padding-inline-start: 10px;
}

.title__decor {
  color: var(--title-decor);
  background-color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--text-size);
  font-weight: var(--text-style);
  height: fit-content;
  line-height: 130%;
}

.content__title {
  color: var(--content-title-color);
  font-family: var(--font);
  font-size: var(--text-size);
  line-height: 130%;
  margin-block-end: 20px;
}

.content__block {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.subblock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title__advice {
  font-weight: 400;
}

.content__text {
  color: var(--text-color);
  font-family: var(--font);
  font-size: var(--text-size);
  line-height: 130%;
  font-weight: 400;
}

.accent__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.accent__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.accent__link:focus-visible {
  outline: 1px solid #f1b2ce;
}

.image__title {
  margin-block-end: 10px;
}

.container__image {
  display: grid;
  gap: 10px;
}

.content__image {
  object-fit: cover;
  inline-size: 100%;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title__footer {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  :root {
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    padding: 20px;
    min-block-size: 1024px;
  }

  .header__decor {
    display: block;
    inline-size: 364px;
  }

  .title__header {
    margin-left: -20px;
  }

  .decor {
    top: 22px;
    right: 28px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .content {
    margin-block: 60px;
    gap: 80px;
  }

  .content__section {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .answer {
    max-inline-size: 236px;
  }

  .advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .image__title {
    margin-block-end: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }

  .content__image {
    block-size: 100%;
  }

  .sunset {
    grid-area: sunset;
  }

  .icecream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

@media (min-width: 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__decor {
    inline-size: 491px;
  }

  .why,
  .advice {
    gap: 10px;
  }

  .answer {
    max-inline-size: 315px;
  }

  .reasons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
